/*
=========================
Table of Contents
    1.0 Global
    2.0 Navbar
    3.0 About
    4.0 Sessions
    5.0 Testimonials
    6.0 Contact
    7.0 Footer
    8.0 Media Queries
=========================
*/

/*
=========================
    1.0 Global
=========================
*/

*,
*:before,
*:after {
    box-sizing: border-box;
}

:root {
    --navy: #1F2937;
    --blue: #3882F6;
    --gray: #E5E7EB;
    --white: #F9FAF8;
}

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    letter-spacing: .18em;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
}

body {
    margin: 0;
}

h1 {
    font-size: 4rem;
    color: var(--white);
    line-height: 1.1;
    margin: 0;
}

h2 {
    font-size: 3rem;
    line-height: 1.1;
    margin: 0 0 .1em 0;
}

h3 {
    font-size: 2rem;
    line-height: 1;
    margin: 0;
}

p {
    font-size: 1.8rem;
    color: var(--white);
    margin: 1em 0;
}

a {
    text-decoration: none;
}

.btn {
    font-size: 1.5rem;
    font-weight: bolder;
    padding: .5em;
    border-radius: .3em;
    color: var(--white);
    background-color: var(--blue);
}

.btn:hover,
.btn:active {
    color: var(--blue);
    background-color: var(--white);
}

/*
=========================
    2.0 Navbar
=========================
*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    position: fixed;
    background: linear-gradient(#353E4B, #1B2431);
    top: 0;
    left: 0;
    padding: 0 1em 0 2em;
    z-index: 1;
}

.navlogo {
    display: flex;
    height: 7vh;
}

.logo-img {
    display: flex;
    max-width: 6vw;
}

.logo-writing {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-family: "Brush Script MT", cursive;
    color: var(--white);
    margin-left: 1em;
}

.navlist ul {
    display: flex;
    padding: 0 1em;
}

nav li {
    list-style-type: none;
    font-size: 1.8rem;
    letter-spacing: .18em;
    padding: 1em;
}

nav a {
    color: var(--white);
}

nav a:hover,
nav a:active {
    color: var(--blue);
}

/*
=========================
    3.0 About
=========================
*/

#about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    z-index: 0;
    padding-top: 10vh;
    background-image: linear-gradient(to bottom, rgba(31, 41, 55, .8), rgba(24, 32, 44, .6)), url('about-background.jpg');
    background-size: cover;
}

.about-info {
    width: 35%;
    max-width: 52.5em;
    padding: 1em;
}

.about-video {
    aspect-ratio: 16 / 9;
    padding: 1em;
    width: 45%;
    max-width: 67.5em;
    position: relative;
}

iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*
=========================
    4.0 Sessions
=========================
*/

#sessions {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--navy);
    background-color: var(--white);
}

.session-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
}

.session-wrap {
    display: flex;
    justify-content: center;
    align-items: baseline;
    min-height: 75vh;
}

.session-box {
    flex-basis: 24%;
    min-height: 30vh;
    font-size: 1.6rem;
    text-align: center;
    margin: 3.75vh 0;
}

.session-box img {
    width: 100%;
    border: .15em solid var(--navy);
}

.fig-title {
    font-size: 1.8rem;
    font-weight: bolder;
    line-height: 1.5;
}

/*
=========================
    5.0 Testimonials
=========================
*/

#testimonials {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 50vh;
    color: var(--navy);
    background-image: linear-gradient(to bottom, rgba(231, 233, 237, .8), rgba(183, 184, 188, .6)), url(testimonials-background.jpg);
    background-size: cover;
    padding-top: 2.5em;
}

.quote-box {
    width: 64%;
    padding-bottom: 2.5em;
}

.quote-box p {
    font-size: 2.5rem;
    font-style: italic;
    color: var(--navy);
    margin: 0 0 .2em 0;
}

.quote-box span  {
    display: block;
    font-size: 2rem;
    font-weight: bolder;
    text-align: right;
    margin: 0;
}

/*
=========================
    6.0 Contact
=========================
*/

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 32vh;
    color: var(--white);
    background-color: var(--white);
}

.contact-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 64%;
    padding: 2em 9%;
    border-radius: .4em;
    background-color: var(--blue);
}

.contact-info {
    max-width: 74%;
    margin-right: 8%;
}

.contact-info p {
    margin: .5em 0;
}

.contact-btn .btn {
    display: flex;
    text-align: center;
    border: .1em solid var(--white);
}

.contact p {
    margin: .5em 0;
}

/*
=========================
    7.0 Footer
=========================
*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 8vh;
    color: var(--white);
    background: linear-gradient(#353E4B, #1B2431);
}

.footer {
    font-size: 1.2rem;
}

/*
=========================
    8.0 Media Queries
=========================
*/

@media all and (max-width: 1000px) {
  h2 {
    margin: .5em 0;
  }
    .navlist ul {
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 4vh;
    margin: 0;
    padding: 0 .5em;
  }
  .navlist li {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
    letter-spacing: .16em;
  }
  .navbar {
    flex-wrap: wrap;
    height: 10vh;
    padding: 0;
    margin: 0;
  }
  .navlogo {
    justify-content: center;
    width: 100%;
    height: 5vh;
    padding-top: .5em;
  }
  .logo-img  {
    justify-content: center;
    max-width: 20vw;
    border: 2px solid red;
  }
  .logo-writing {
    justify-content: center;
    font-size: 2.5rem;
    letter-spacing: .15rem;
    padding: 0;
  }
  #about {
    flex-wrap: wrap;
  }
  .about-info,
  .about-video {
    width: 90%;
    max-width: 90%;
  }
  .about-video {
    margin-bottom: 4em;
  }
  .session-title {
    width: 90%;
}
  .session-wrap {
    flex-wrap: wrap;
    padding-bottom: 1em;
  }
  .session-box {
    flex-basis: 75%;
    margin: 0;
  }
  .quote-box {
    width: 90%;
  }
  .contact-box {
    width: 90%;
  }
  .contact-info {
    max-width: 75%;
}
  .footer {
    max-width: 90%;
    }
}