/*
=========================
Table of Contents
    1.0 Global
    2.0 Navbar
    3.0 About
    4.0 Sessions
    5.0 Testimonials
    6.0 Contact
    7.0 Footer
    8.0 Media Queries
=========================
*/

/*
=========================
    1.0 Global
=========================
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --navy: #1F2937;
    --blue: #3882F6;
    --gray: #E5E7EB;
    --white: #F9FAF8;
}

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    letter-spacing: .18em;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
}

body {
    margin: 0;
}

h1 {
    font-size: 4rem;
    color: var(--white);
    line-height: 1.1;
    margin: 0;
}

h2 {
    font-size: 3rem;
    line-height: 1.1;
    margin: 0 0 .1em 0;
}

h3 {
    font-size: 2rem;
    line-height: 1;
    margin: 0;
}

p {
    font-size: 1.8rem;
    color: var(--white);
    margin: 1em 0;
}

a {
    text-decoration: none;
}

.btn {
    font-size: 1.5rem;
    font-weight: bolder;
    padding: .5em;
    border-radius: .3em;
    color: var(--white);
    background-color: var(--blue);
}

.btn:hover,
.btn:active {
    color: var(--blue);
    background-color: var(--white);
}

/*
=========================
    2.0 Navbar
=========================
*/

    header {
        background: linear-gradient(#353E4B, #1B2431);
        text-align: center;
        position: fixed;
        width: 100%;
        z-index: 10;
        height: 8vh;
        opacity: .98;
    }

    nav {
        background: linear-gradient(#1B2431, #353E4B);
        position: absolute;
        text-align: left;
        top: 100%;
        left: 0;
        width: 100%;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 400ms ease-in-out;
        opacity: .92;
    }

    nav ul {
        margin: 0;
        padding: 0 0 .75em 0;
        list-style: none;
    }

    nav li {
        font-size: 1.8rem;
        letter-spacing: .18em;
        margin: .75em 1em;
    }

    nav a {
        color: var(--white);
        opacity: 0;
        transition: opacity 150ms ease-in-out;
    }

    nav a:hover,
    nav a:active {
        color: var(--blue);
    }

    .nav-toggle {
        display: none;
    }

    .nav-toggle-label {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 1em;
        height: 100%;
    }
  
    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        display: block;
        background: white;
        height: .2em;
        width: 2em;
        border-radius: .2em;
        position: relative;
    }
  
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        content: '';
        position: absolute;
    }
  
    .nav-toggle-label span::before {
        bottom: .7em;
    }
  
    .nav-toggle-label span::after {
        top: .7em;
    }
  
    .nav-toggle:checked ~ nav {
        transform: scale(1, 1);
    }
  
    .nav-toggle:checked ~ nav a {
        transform: scale(1, 1);
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
    }

.navlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
}

.logo-img {
    display: flex;
    padding-right: .5em;
}

.logo-img img {
    width: 7em;
}

.logo-writing {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
    letter-spacing: .15rem;
    padding-left: .5em;
    font-family: "Brush Script MT", cursive;
    font-weight: bolder;
    color: var(--white);
}

/*
=========================
    3.0 About
=========================
*/

#about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    z-index: 0;
    padding-top: 10vh;
    background-image: linear-gradient(to bottom, rgba(31, 41, 55, .8), rgba(24, 32, 44, .6)), url('about-background.jpg');
    background-size: cover;
}

.about-info {
    width: 35%;
    max-width: 52.5em;
    padding: 1em;
}

.about-video {
    aspect-ratio: 16 / 9;
    width: 45%;
    max-width: 67.5em;
    position: relative;
}

@supports not (aspect-ratio: 16 / 9) {
    .about-video::before {
      float: left;
      padding-top: 56.25%;
      content: "";
    }
  
    .about-video::after {
      display: block;
      content: "";
      clear: both;
    }
  }

iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*
=========================
    4.0 Sessions
=========================
*/

#sessions {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--navy);
    background-color: var(--white);
}

.session-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
}

.session-wrap {
    display: flex;
    justify-content: center;
    align-items: baseline;
    min-height: 75vh;
}

.session-box {
    flex-basis: 24%;
    min-height: 30vh;
    font-size: 1.6rem;
    text-align: center;
    margin: 3.75vh 0;
}

.session-box img {
    width: 100%;
    border: .15em solid var(--navy);
}

.fig-title {
    font-size: 1.8rem;
    font-weight: bolder;
    line-height: 1.5;
}

/*
=========================
    5.0 Testimonials
=========================
*/

#testimonials {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 50vh;
    color: var(--navy);
    background-image: linear-gradient(to bottom, rgba(231, 233, 237, .8), rgba(183, 184, 188, .6)), url(testimonials-background.jpg);
    background-size: cover;
    padding-top: 2.5em;
}

.quote-box {
    width: 64%;
    padding-bottom: 2.5em;
}

.quote-box p {
    font-size: 2.5rem;
    font-style: italic;
    color: var(--navy);
    margin: 0 0 .2em 0;
}

.quote-box span  {
    display: block;
    font-size: 2rem;
    font-weight: bolder;
    text-align: right;
    margin: 0;
}

/*
=========================
    6.0 Contact
=========================
*/

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 32vh;
    color: var(--white);
    background-color: var(--white);
}

.contact-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 64%;
    padding: 2em 9%;
    border-radius: .4em;
    background-color: var(--blue);
}

.contact-info {
    max-width: 74%;
    margin-right: 8%;
}

.contact-info p {
    margin: .5em 0;
}

.contact-btn .btn {
    display: flex;
    text-align: center;
    border: .1em solid var(--white);
}

.contact p {
    margin: .5em 0;
}

/*
=========================
    7.0 Footer
=========================
*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 8vh;
    color: var(--white);
    background: linear-gradient(#353E4B, #1B2431);
}

.footer {
    font-size: 1.2rem;
}

/*
=========================
    8.0 Media Queries
=========================
*/

@media screen and (min-width: 1000px) {
    .nav-toggle-label {
        display: none;
    }
    
    header {
        display: grid;
        grid-template-columns: 1fr auto 3fr auto 1fr;
        height: 10vh;
    }
    
    .navlogo {
        grid-column: 2 / 3;
        height: 10vh;
    }
    
    nav {
        all: unset;
        grid-column: 4 / 5;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    nav ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0;
    }
    
    nav li {
        font-size: 1.9rem;
        text-align: center;
        margin: .75em 1.1em;
    }
    
    nav a {
        opacity: 1;
        position: relative;
    }
    
    nav a::before {
        content: '';
        display: block;
        height: .2em;
        background: var(--blue);
        position: absolute;
        top: -.6em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }
    
    nav a:hover::before {
        transform: scale(1, 1);
    }

    .logo-img img {
        width: 9em;
    }

    .logo-writing {
        font-size: 4rem;
    }
}

@media screen and (max-width: 1000px) {
    #about {
        flex-wrap: wrap;
        min-height: 85vh;
    }

    .about-info,
    .about-video {
        width: 90%;
    }

    .about-video {
        margin: 1em 0 3em 0;
    }

    .session-title {
        width: 90%;
        min-height: 10vh;
        padding: 1em 0;
    }

    .session-wrap {
        flex-wrap: wrap;
        padding-bottom: 1.5em;
    }

    .session-box {
        flex-basis: 75%;
        margin: 0;
    }

    .quote-box {
        width: 90%;
    }

    .quote-box p {
        font-size: 2rem;
    }

    .quote-box span  {
        font-size: 1.7rem;
    }

    #contact {
        min-height: 30vh;
    }

    .contact-box {
        width: 90%;
    }

    .contact-info {
        max-width: 75%;
    }

    footer {
        height: 10vh;
    }
  
    .footer {
        max-width: 90%;
    }
}